<section class="profile">
    <section class="profile-buttons">
        <a href="#" class="log-in-button clicked">Log In</a>
        <a href="#" class="sign-up-button">Sign Up</a>

        <a href="#" class="close-button"><i class="fas fa-times"></i></a>
    </section>

    <section class="profile-forms">
        <section class="log-in">
            <form action="#">
                <p>
                    <label for="log-in-username">Username</label>
                    <input type="text" id="log-in-username" placeholder="Username">
                </p>

                <p>
                    <label for="log-in-password">Password</label>
                    <input type="password" id="log-in-password" placeholder="******">
                </p>

                <input type="submit" value="Log In">
            </form>
        </section>

        <section class="sign-up">
            <form action="#">
                <p> <label for="sign-up-username">Username</label>
                    <input type="text" id="sign-up-username" placeholder="Username">
                </p>

                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="username@email.com">
                </p>

                <p>
                    <label for="sign-up-password">Password</label>
                    <input type="password" id="sign-up-password" placeholder="******">
                </p>

                <p>
                    <label for="sign-up-repeat-password">Repeat Password</label>
                    <input type="password" id="sign-up-repeat-password" placeholder="******">
                </p>

                <input type="submit" value="Sign Up">
            </form>
        </section>
    </section>
</section>
