.site-footer {
    padding: 0.8em 0;
    background: var(--color-red-main);
    color: var(--color-body-background);
    text-align: center;
}

.site-footer p {
    padding: 0;
}

.site-footer .title {
    color: var(--color-beige-main);
}