input[type="submit"] {
    background: var(--color-beige-main);
    padding: 1em 2em;
    border: 2px solid var(--color-beige-main);
    border-radius: 4em;
    cursor: pointer;
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
}