.site-header {
    background: var(--color-body-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10em;
    margin-bottom: 1.5em;
}

.site-header.home-page {
    background: transparent;
    margin-bottom: 0;
}

.site-title {
    margin-bottom: 0;
}

.site-header a.user-button {
    color: #000000;
    font-size: 1.1em;
}

.site-header a.user-button:hover > i {
    color: var(--color-beige-main);
}

.site-header a.hamburger-menu {
    display: none;
}