.site {
    max-width: var(--layout-main-width);
}

.content-wrapper {
    max-width: var(--layout-content-width);
    margin: 0 auto;
}

@media (min-width: 1024px) {

    .site-header {
        display: flex;
    }

    .site-nav {
        margin-left: auto;
    }

}