@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Merriweather:400,700&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  /*--font-size-body-huge: 20px;*/
  --font-main: 'Merriweather';
  --font-headers: 'Barlow Condensed';
  --layout-main-width: 100%;
  --layout-content-width: 80%;
  --color-body-background: #FFFFFF;
  --color-red-main: #AA3F44;
  --color-beige-main: #D3C19F;
  --color-beige-darker: #D3C19F;
  --spacing-layout-elements: 2em; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 var(--font-main), sans-serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

/*@media (min-width: 1600px) {*/
/*    html {*/
/*        font-size: var(--font-size-body-huge, 20px);*/
/*    }*/
/*}*/
body, input, textarea, option, select, table {
  font: inherit;
  background: var(--color-body-background, #FFFFFF);
  color: var(--color-body-text, #000000); }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  font-family: var(--font-headers), sans-serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: var(--color-beige-main, #000000); }

p, ul, ol {
  padding-bottom: 1.5em; }

button,
input[type="submit"] {
  background: var(--color-beige-main);
  color: #000000;
  padding: 1em 2em;
  border: 2px solid var(--color-beige-main);
  border-radius: 4em;
  cursor: pointer;
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-main);
  outline: none; }

button:focus,
input[type="submit"]:focus,
button:hover,
input[type="submit"]:hover {
  background: var(--color-red-main);
  color: var(--color-body-background);
  border-color: var(--color-red-main); }

form input:not([type="submit"]),
form textarea {
  background: #FFFFFF;
  padding: 1.1em 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none; }

form input:not([type="submit"]):focus,
form textarea:focus,
form input:not([type="submit"]):hover,
form textarea:hover {
  border-color: var(--color-red-main); }

form input {
  border-radius: 4em; }

form textarea {
  resize: none;
  border-radius: 2em;
  height: 10em; }

.site {
  max-width: var(--layout-main-width); }
  .site.black-background:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000; }
  .site .content-wrapper {
    max-width: var(--layout-content-width);
    margin: 0 auto; }
    @media (max-width: 1023px) {
      .site .content-wrapper {
        max-width: 100%;
        padding: 0 2em; } }

.site-header {
  background: var(--color-body-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 10em;
  margin-bottom: 0; }
  @media (min-width: 1024px) and (max-width: 1799px) {
    .site-header {
      padding: 0.5em 5em; } }
  .site-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 0.1em 0.1em var(--color-beige-main); }
  .site-header .site-title {
    margin-bottom: 0;
    text-align: left; }
  .site-header .header-buttons {
    font-size: 1.1em;
    text-align: right; }
    .site-header .header-buttons > a {
      color: #000000; }
    .site-header .header-buttons .user-button {
      margin-right: 1em; }
      .site-header .header-buttons .user-button:hover > i {
        color: var(--color-beige-main); }
    .site-header .header-buttons .hamburger-menu-button i {
      display: none;
      cursor: pointer; }
      .site-header .header-buttons .hamburger-menu-button i:hover {
        color: var(--color-beige-main); }

.hamburger-menu-input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 1023px) {
    .hamburger-menu-input + .site-header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0.5em 3em; }
      .hamburger-menu-input + .site-header .site-title {
        grid-column: span 2; }
      .hamburger-menu-input + .site-header .site-nav,
      .hamburger-menu-input + .site-header .site-nav ul,
      .hamburger-menu-input + .site-header .site-nav li {
        width: 100%; }
      .hamburger-menu-input + .site-header .site-nav {
        display: none;
        margin-top: 1em;
        grid-column: 1 / -1;
        grid-row: 2;
        text-align: center; }
        .hamburger-menu-input + .site-header .site-nav ul {
          flex-direction: column; }
          .hamburger-menu-input + .site-header .site-nav ul li {
            padding: 0.5em; }
      .hamburger-menu-input + .site-header .header-buttons {
        grid-column: 3; }
        .hamburger-menu-input + .site-header .header-buttons .hamburger-menu-button .fa-bars {
          display: inline-block; }
    .hamburger-menu-input:checked + .site-header .site-nav {
      display: block; }
      .hamburger-menu-input:checked + .site-header .site-nav li.selected {
        background: var(--color-beige-main);
        border-radius: 0.5em; }
        .hamburger-menu-input:checked + .site-header .site-nav li.selected a {
          color: #000000; }
    .hamburger-menu-input:checked + .site-header .hamburger-menu-button .fa-bars {
      display: none; }
    .hamburger-menu-input:checked + .site-header .hamburger-menu-button .fa-times {
      display: inline-block;
      color: var(--color-red-main); } }

.site-nav {
  margin: 0 auto;
  grid-column: 2 / span 3; }
  .site-nav ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .site-nav ul li {
      display: block;
      list-style: none outside;
      padding: 0 1em; }
      .site-nav ul li a {
        display: block;
        color: #000000; }
        .site-nav ul li a:after {
          display: block;
          content: '';
          height: 0.2em;
          width: 0; }
      .site-nav ul li.selected > a,
      .site-nav ul li a:hover {
        color: var(--color-beige-main); }
        .site-nav ul li.selected > a:after,
        .site-nav ul li a:hover:after {
          width: 100%;
          background: var(--color-beige-main); }

.site-footer {
  padding: 0.8em 0;
  background: var(--color-red-main);
  color: var(--color-body-background);
  text-align: center; }
  .site-footer p {
    padding: 0; }
    .site-footer p .title {
      color: var(--color-beige-main); }

.sky {
  background: url("../images/sky.jpg");
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden; }
  @media (max-width: 1023px) {
    .sky {
      height: 80vh; } }
  @media (max-width: 650px) {
    .sky {
      height: 60vh; } }
  .sky .clouds img,
  .sky .fog img,
  .sky .wing img {
    position: absolute;
    bottom: 0;
    right: 0; }
  .sky .clouds img,
  .sky .fog img {
    left: -30em;
    width: 150%;
    max-height: 100vh;
    -webkit-animation: slideInMain 5s linear infinite;
            animation: slideInMain 5s linear infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    @media (max-width: 1023px) {
      .sky .clouds img,
      .sky .fog img {
        width: 250%; } }
  .sky .clouds img {
    z-index: 1; }
  .sky .fog img {
    z-index: 2; }
  .sky .wing img {
    left: 0;
    z-index: 4;
    max-width: 100%;
    max-height: 100vh; }

.popular-destinations {
  padding: var(--spacing-layout-elements) 0;
  background: #F6F4EF; }
  .popular-destinations .flight-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--spacing-layout-elements); }
    @media (min-width: 1024px) and (max-width: 1799px) {
      .popular-destinations .flight-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 1023px) {
      .popular-destinations .flight-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 650px) {
      .popular-destinations .flight-wrapper {
        grid-template-columns: 1fr; } }
    .popular-destinations .flight-wrapper .flight-card {
      border-radius: 0.5em;
      border: 1px solid var(--color-beige-main);
      overflow: hidden; }
      .popular-destinations .flight-wrapper .flight-card header {
        background: var(--color-body-background);
        color: #000000;
        border-bottom: 1px solid var(--color-beige-main);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        padding: 1.5em 2em; }
        .popular-destinations .flight-wrapper .flight-card header h5 {
          margin-bottom: 0;
          grid-column: span 2; }
          .popular-destinations .flight-wrapper .flight-card header h5.from {
            text-align: left; }
          .popular-destinations .flight-wrapper .flight-card header h5.to {
            text-align: right; }
        .popular-destinations .flight-wrapper .flight-card header span i {
          color: var(--color-red-main); }
      .popular-destinations .flight-wrapper .flight-card .flight-description {
        background: var(--color-body-background);
        padding: 1em 2em; }
        .popular-destinations .flight-wrapper .flight-card .flight-description li {
          list-style: none outside;
          margin-bottom: 0.5em;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          align-items: center; }
          .popular-destinations .flight-wrapper .flight-card .flight-description li > span:first-child {
            text-align: left;
            grid-column: span 2; }
          .popular-destinations .flight-wrapper .flight-card .flight-description li .line {
            display: inline-block;
            width: 100%;
            height: 2px;
            background: var(--color-red-main);
            margin: 0 auto; }
          .popular-destinations .flight-wrapper .flight-card .flight-description li > span:last-child {
            text-align: right;
            grid-column: span 2; }
      .popular-destinations .flight-wrapper .flight-card .book-now {
        padding: 1.5em 2em;
        width: 100%;
        background: var(--color-body-background);
        border-top: 1px solid var(--color-beige-main);
        cursor: pointer; }
        .popular-destinations .flight-wrapper .flight-card .book-now:hover {
          background: var(--color-beige-main); }
          .popular-destinations .flight-wrapper .flight-card .book-now:hover a {
            color: #000000; }
        .popular-destinations .flight-wrapper .flight-card .book-now a {
          color: var(--color-red-main); }

.newsletter {
  background: var(--color-red-main);
  color: var(--color-body-background); }
  .newsletter .content-wrapper {
    padding: var(--spacing-layout-elements) 0;
    display: flex;
    align-items: center; }
    @media (max-width: 1023px) {
      .newsletter .content-wrapper {
        padding: var(--spacing-layout-elements) 2em;
        flex-direction: column; } }
    @media (max-width: 650px) {
      .newsletter .content-wrapper {
        padding: var(--spacing-layout-elements) 1em; } }
    .newsletter .content-wrapper h3 {
      margin-bottom: 0; }
      @media (max-width: 1023px) {
        .newsletter .content-wrapper h3 {
          margin-bottom: 1em; } }
    .newsletter .content-wrapper form {
      margin-left: auto; }
      @media (max-width: 1023px) {
        .newsletter .content-wrapper form {
          margin-left: 0; } }
      @media (max-width: 650px) {
        .newsletter .content-wrapper form input[type="email"] {
          width: 70%; } }
      .newsletter .content-wrapper form input[type="submit"] {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: var(--color-body-background); }
        .newsletter .content-wrapper form input[type="submit"]:hover {
          transform: translate(1em, -1em);
          color: var(--color-body-background);
          background: var(--color-beige-main);
          border-color: var(--color-beige-main); }

.faq {
  padding: var(--spacing-layout-elements) 0; }
  .faq .questions-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-layout-elements);
    padding-bottom: 0; }
    @media (max-width: 1023px) {
      .faq .questions-list {
        grid-template-columns: 1fr; } }
    .faq .questions-list .question-and-answer {
      list-style: none outside;
      background: #F6F4EF;
      border-radius: 0.5em;
      padding: 1.5em 2em;
      cursor: pointer; }
      .faq .questions-list .question-and-answer .question-wrapper {
        display: flex;
        align-items: center;
        pointer-events: none;
        padding-bottom: 0; }
        .faq .questions-list .question-and-answer .question-wrapper .question {
          margin-bottom: 0;
          width: 100%;
          display: flex;
          align-items: center; }
          .faq .questions-list .question-and-answer .question-wrapper .question:after {
            display: inline-block;
            content: '\f067';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: var(--color-red-main);
            margin-left: auto; }
      .faq .questions-list .question-and-answer:hover {
        background: var(--color-red-main);
        color: var(--color-body-background); }
        .faq .questions-list .question-and-answer:hover .question:after {
          color: var(--color-beige-main); }
      .faq .questions-list .question-and-answer.active .question:after {
        content: '\f068'; }
      .faq .questions-list .question-and-answer.active .answer {
        display: block; }
      .faq .questions-list .question-and-answer .answer {
        display: none;
        padding-top: 1.5em;
        padding-bottom: 0;
        pointer-events: none; }

.read-more {
  margin-top: var(--spacing-layout-elements); }
  .read-more button {
    font-size: 1.1em; }
    .read-more button i {
      margin-left: 0.5em; }

.content-wrapper {
  text-align: center; }

.services {
  padding: var(--spacing-layout-elements) 0;
  background: #F6F4EF; }
  @media (min-width: 1024px) and (max-width: 1799px) {
    .services .content-wrapper {
      max-width: 100%;
      padding: 0 2em; } }
  .services .services-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-layout-elements); }
    @media (max-width: 1023px) {
      .services .services-info {
        grid-template-rows: repeat(2, 1fr); } }
    @media (max-width: 650px) {
      .services .services-info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr); } }
    .services .services-info .media,
    .services .services-info .service {
      border-radius: 0.5em; }
    .services .services-info .media {
      overflow: hidden;
      grid-column: 1;
      position: relative; }
      .services .services-info .media:before {
        display: block;
        content: '';
        padding-top: 56.25%; }
      .services .services-info .media img {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      @media (max-width: 1023px) {
        .services .services-info .media {
          grid-column: 1 / -1; } }
      @media (max-width: 650px) {
        .services .services-info .media {
          grid-row: 1; } }
    .services .services-info .services-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: var(--spacing-layout-elements);
      padding-bottom: 0; }
      @media (max-width: 1023px) {
        .services .services-info .services-list {
          grid-column: 1 / -1;
          grid-row: 2; } }
      @media (max-width: 650px) {
        .services .services-info .services-list {
          grid-row: 2 / -1;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, 1fr); } }
      .services .services-info .services-list .service {
        list-style: none outside;
        background: var(--color-body-background);
        font-family: var(--font-headers);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        padding: 1em; }
        .services .services-info .services-list .service:nth-of-type(2) .service-name:before {
          content: '\f5af'; }
        .services .services-info .services-list .service:nth-of-type(3) .service-name:before {
          content: '\f274'; }
        .services .services-info .services-list .service:nth-of-type(4) .service-name:before {
          content: '\f2f2'; }
        .services .services-info .services-list .service:nth-of-type(5) .service-name:before {
          content: '\f594'; }
        .services .services-info .services-list .service:nth-of-type(6) .service-name:before {
          content: '\f5e4'; }
        .services .services-info .services-list .service .service-name {
          margin-bottom: 0; }
          .services .services-info .services-list .service .service-name:before {
            display: block;
            content: '\f479';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 1.7em;
            margin-bottom: 0.4em;
            color: var(--color-beige-main); }
        .services .services-info .services-list .service:hover {
          background: var(--color-red-main);
          color: var(--color-body-background); }
          .services .services-info .services-list .service:hover .service-name:before {
            color: var(--color-body-background); }

.team {
  padding: var(--spacing-layout-elements) 0; }
  .team .all-workers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em; }
    @media (max-width: 1023px) {
      .team .all-workers {
        grid-template-columns: repeat(3, 1fr); } }
    @media (max-width: 650px) {
      .team .all-workers {
        grid-template-columns: repeat(2, 1fr); } }
    .team .all-workers .worker {
      grid-column: span 1;
      position: relative; }
      .team .all-workers .worker .media {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer; }
        .team .all-workers .worker .media:hover {
          border-radius: 1em; }
        .team .all-workers .worker .media img {
          display: block;
          width: 100%;
          height: auto; }
      .team .all-workers .worker .worker-name {
        margin-bottom: 0.2em; }
      .team .all-workers .worker .worker-position {
        color: var(--color-red-main);
        padding-bottom: 0; }

.testimonials {
  padding: var(--spacing-layout-elements) 0;
  background: #F6F4EF; }
  .testimonials .all-testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-layout-elements); }
    @media (max-width: 1023px) {
      .testimonials .all-testimonials {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 650px) {
      .testimonials .all-testimonials {
        grid-template-columns: 1fr; } }
    .testimonials .all-testimonials .testimonials-card {
      border: 1px solid var(--color-red-main);
      border-radius: 0.5em;
      overflow: hidden;
      text-align: left;
      background: var(--color-body-background); }
      .testimonials .all-testimonials .testimonials-card header {
        width: 100%;
        padding: 1.5em 2em;
        border-bottom: 1px solid var(--color-red-main);
        text-align: center;
        background: var(--color-red-main);
        color: var(--color-body-background); }
        .testimonials .all-testimonials .testimonials-card header .author {
          margin-bottom: 0; }
      .testimonials .all-testimonials .testimonials-card .content {
        padding: 1em 2em; }

@media (min-width: 1024px) and (max-width: 1799px) {
  .contact-us-description .content-wrapper {
    max-width: 100%;
    padding: 0 2em; } }

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  padding: var(--spacing-layout-elements) 0; }
  @media (min-width: 1024px) and (max-width: 1799px) {
    .info {
      grid-gap: var(--spacing-layout-elements); }
      .site.contact-us-page .content-wrapper {
        max-width: 100%;
        padding: 0 3em; } }
  @media (max-width: 1023px) {
    .info {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-gap: var(--spacing-layout-elements); } }
  @media (max-width: 650px) {
    .info {
      grid-template-rows: 1fr; } }
  .info header h3 {
    text-align: center; }
  .info li {
    list-style: none outside;
    margin-bottom: 1em; }

/* Opening Hours */
.opening-hours ul li {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1023px) {
    .opening-hours ul li {
      justify-content: space-evenly; } }
  @media (max-width: 650px) {
    .opening-hours ul li {
      justify-content: space-between; } }
  .opening-hours ul li .day {
    width: 6em; }
  .opening-hours ul li .line {
    display: inline-block;
    width: 7em;
    height: 2px;
    background: var(--color-beige-main);
    margin: 0 auto; }
    @media (min-width: 1024px) and (max-width: 1799px) {
      .opening-hours ul li .line {
        width: 3em; } }
    @media (max-width: 1023px) {
      .opening-hours ul li .line {
        margin: 0; } }
    @media (max-width: 650px) {
      .opening-hours ul li .line {
        width: 4em; } }
  .opening-hours ul li .hours {
    width: 7em; }

/* Central Office */
.central-office .contact-info {
  text-align: center; }
  .central-office .contact-info li:hover i {
    color: var(--color-red-main); }
  .central-office .contact-info li a {
    color: #000000; }
    .central-office .contact-info li a i {
      display: inline-block;
      width: 1.5em;
      margin-right: 0.5em;
      color: var(--color-beige-main);
      text-align: center; }
    .central-office .contact-info li a address {
      display: inline; }

.central-office .social-buttons {
  display: flex;
  justify-content: space-around; }
  @media (max-width: 1023px) {
    .central-office .social-buttons {
      justify-content: space-evenly; } }
  @media (max-width: 650px) {
    .central-office .social-buttons {
      justify-content: space-between; } }
  .central-office .social-buttons li {
    background: var(--color-beige-main);
    padding: 0.3em;
    border-radius: 0.5em; }
    .central-office .social-buttons li:hover {
      background: var(--color-red-main); }
    .central-office .social-buttons li a i {
      width: 1.5em;
      font-size: 1.5em;
      text-align: center;
      color: var(--color-body-background);
      margin: 0; }

/* Media */
.info .media {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em; }
  @media (max-width: 650px) {
    .info .media {
      display: none; } }
  .info .media img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* Form */
.contact-us {
  background: #F6F4EF;
  padding: var(--spacing-layout-elements) 0; }
  .contact-us .content-wrapper {
    text-align: center; }
    .contact-us .content-wrapper form {
      max-width: 60%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: var(--spacing-layout-elements); }
      @media (max-width: 1023px) {
        .contact-us .content-wrapper form {
          max-width: 100%; } }
      .contact-us .content-wrapper form input {
        grid-column: span 2;
        width: 100%; }
        .contact-us .content-wrapper form input[type="submit"] {
          grid-column: 2 / 4; }
      .contact-us .content-wrapper form textarea {
        grid-column: span 4; }

.our-fleet {
  padding: var(--spacing-layout-elements) 0; }

.fleet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-10em);
  -webkit-animation: slideInHorizontal 0.5s linear;
          animation: slideInHorizontal 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .fleet-card:not(:last-child) {
    margin-bottom: 4em; }
  @media (max-width: 1023px) {
    .fleet-card {
      flex-direction: column; } }
  .fleet-card.slide-from-right {
    transform: translateX(10em); }
    @media (max-width: 1023px) {
      .fleet-card.slide-from-right .media {
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
      .fleet-card.slide-from-right .description {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; } }
  @media (max-width: 1023px) {
    .fleet-card.slide-from-left .description {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .fleet-card.slide-from-left .media {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; } }
  .fleet-card:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .fleet-card:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .fleet-card:nth-of-type(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s; }
  .fleet-card:nth-of-type(5) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
  .fleet-card:nth-of-type(6) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .fleet-card:nth-of-type(7) {
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s; }
  .fleet-card .media,
  .fleet-card .description {
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3em; }
  .fleet-card .media {
    width: 30em;
    position: relative;
    overflow: hidden; }
    @media (max-width: 1023px) {
      .fleet-card .media {
        width: 100%; } }
    .fleet-card .media:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
    .fleet-card .media img {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .fleet-card .description {
    width: 25em;
    padding: 2em; }
    @media (max-width: 1023px) {
      .fleet-card .description {
        width: 100%; } }
    .fleet-card .description .airplane-name {
      color: var(--color-beige-main);
      margin-bottom: 0.5em; }
    .fleet-card .description .airplane-info {
      padding-bottom: 0; }
  .fleet-card:nth-child(even) .description .airplane-name {
    color: var(--color-red-main); }

.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-layout-elements);
  justify-content: center;
  padding: var(--spacing-layout-elements) 0;
  margin: 0; }
  @media (max-width: 1023px) {
    .destinations {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 650px) {
    .destinations {
      grid-template-columns: 1fr; } }
  .destinations li {
    list-style: none outside;
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
    -webkit-animation: slideInVertical 0.5s ease-in-out;
            animation: slideInVertical 0.5s ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .destinations li:nth-child(1) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .destinations li:nth-child(2), .destinations li:nth-child(4) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .destinations li:nth-child(3), .destinations li:nth-child(5), .destinations li:nth-child(7) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s; }
    .destinations li:nth-child(6), .destinations li:nth-child(8), .destinations li:nth-child(10) {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .destinations li:nth-child(9), .destinations li:nth-child(11), .destinations li:nth-child(13) {
      -webkit-animation-delay: 1.3s;
              animation-delay: 1.3s; }
    .destinations li:nth-child(12), .destinations li:nth-child(14), .destinations li:nth-child(16) {
      -webkit-animation-delay: 1.6s;
              animation-delay: 1.6s; }
    .destinations li:nth-child(15), .destinations li:nth-child(17), .destinations li:nth-child(19) {
      -webkit-animation-delay: 1.9s;
              animation-delay: 1.9s; }
    .destinations li:nth-child(18), .destinations li:nth-child(20) {
      -webkit-animation-delay: 2.2s;
              animation-delay: 2.2s; }
    .destinations li:nth-child(21) {
      -webkit-animation-delay: 2.5s;
              animation-delay: 2.5s; }
    .destinations li:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
    @media (max-width: 1023px) {
      .destinations li:nth-of-type(1) {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .destinations li:nth-of-type(2) {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .destinations li:nth-of-type(3) {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .destinations li:nth-of-type(4) {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .destinations li:nth-of-type(5) {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .destinations li:nth-of-type(6) {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s; }
      .destinations li:nth-of-type(7) {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s; }
      .destinations li:nth-of-type(8) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s; }
      .destinations li:nth-of-type(9) {
        -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s; }
      .destinations li:nth-of-type(10) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .destinations li:nth-of-type(11) {
        -webkit-animation-delay: 1.1s;
                animation-delay: 1.1s; }
      .destinations li:nth-of-type(12) {
        -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s; }
      .destinations li:nth-of-type(13) {
        -webkit-animation-delay: 1.3s;
                animation-delay: 1.3s; }
      .destinations li:nth-of-type(14) {
        -webkit-animation-delay: 1.4s;
                animation-delay: 1.4s; }
      .destinations li:nth-of-type(15) {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      .destinations li:nth-of-type(16) {
        -webkit-animation-delay: 1.6s;
                animation-delay: 1.6s; }
      .destinations li:nth-of-type(17) {
        -webkit-animation-delay: 1.7s;
                animation-delay: 1.7s; }
      .destinations li:nth-of-type(18) {
        -webkit-animation-delay: 1.8s;
                animation-delay: 1.8s; }
      .destinations li:nth-of-type(19) {
        -webkit-animation-delay: 1.9s;
                animation-delay: 1.9s; }
      .destinations li:nth-of-type(20) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s; }
      .destinations li:nth-of-type(21) {
        -webkit-animation-delay: 2.1s;
                animation-delay: 2.1s; } }
    .destinations li a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .destinations li a:hover:before {
        display: block;
        content: '';
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      .destinations li a:hover > .destination-name {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        z-index: 6;
        position: absolute;
        opacity: 1;
        text-shadow: 0.1em 0.1em #000000;
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
      .destinations li a img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.profile {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  z-index: 2000;
  border-radius: 0.5em; }
  .profile .profile-buttons {
    padding: 0 1em 0 0;
    display: flex;
    align-items: center; }
    .profile .profile-buttons a.clicked,
    .profile .profile-buttons a:not(.close-button):hover {
      background: var(--color-red-main);
      color: var(--color-body-background); }
    .profile .profile-buttons .log-in-button {
      border-top-left-radius: 0.5em; }
    .profile .profile-buttons .log-in-button,
    .profile .profile-buttons .sign-up-button {
      margin-right: 0.5em;
      padding: 0.5em 1.5em;
      color: var(--color-red-main); }
    .profile .profile-buttons .close-button {
      margin-left: auto;
      color: var(--color-red-main);
      font-size: 1.2em; }
  .profile .profile-forms {
    padding: var(--spacing-layout-elements); }
    .profile .profile-forms .sign-up form,
    .profile .profile-forms .log-in form {
      display: grid;
      grid-gap: var(--spacing-layout-elements); }
      @media (max-width: 650px) {
        .profile .profile-forms .sign-up form,
        .profile .profile-forms .log-in form {
          grid-gap: 1em; } }
      .profile .profile-forms .sign-up form p,
      .profile .profile-forms .log-in form p {
        padding-bottom: 0; }
        .profile .profile-forms .sign-up form p label,
        .profile .profile-forms .log-in form p label {
          display: block;
          margin-left: 1.4em; }
    .profile .profile-forms .log-in form {
      grid-template-columns: 1fr; }
    .profile .profile-forms .sign-up {
      display: none; }
      .profile .profile-forms .sign-up form {
        grid-template-columns: repeat(4, 1fr); }
        @media (min-width: 1024px) and (max-width: 1799px) {
          .profile .profile-forms .sign-up form {
            grid-template-columns: repeat(2, 1fr); } }
        @media (max-width: 1023px) {
          .profile .profile-forms .sign-up form {
            grid-template-columns: repeat(2, 1fr); } }
        @media (max-width: 650px) {
          .profile .profile-forms .sign-up form {
            grid-template-columns: 1fr; } }
        .profile .profile-forms .sign-up form p {
          grid-column: span 2; }
          @media (min-width: 1024px) and (max-width: 1799px) {
            .profile .profile-forms .sign-up form p {
              grid-column: span 1; } }
          @media (max-width: 1023px) {
            .profile .profile-forms .sign-up form p {
              grid-column: span 1; } }
        .profile .profile-forms .sign-up form input[type='submit'] {
          grid-column: 2 / 4; }
          @media (min-width: 1024px) and (max-width: 1799px) {
            .profile .profile-forms .sign-up form input[type='submit'] {
              grid-column: 1 / -1; } }
          @media (max-width: 1023px) {
            .profile .profile-forms .sign-up form input[type='submit'] {
              grid-column: 1 / -1; } }
          @media (max-width: 650px) {
            .profile .profile-forms .sign-up form input[type='submit'] {
              grid-column: 1; } }

.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: var(--color-beige-main);
  border-radius: 50%;
  width: 5em;
  height: 5em;
  opacity: 0;
  z-index: 10; }
  .go-top:hover img {
    padding-bottom: 0.5em; }
  .go-top img {
    margin-bottom: 0.5em; }
  .go-top span {
    color: #000000;
    text-transform: uppercase;
    font-family: var(--font-headers);
    font-weight: 700;
    letter-spacing: 0.05em; }

@-webkit-keyframes slideInHorizontal {
  from { }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideInHorizontal {
  from { }
  to {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slideInVertical {
  from {
    opacity: 0;
    transform: translateY(-2em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideInVertical {
  from {
    opacity: 0;
    transform: translateY(-2em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slideInMain {
  100% {
    transform: translateX(30em); } }

@keyframes slideInMain {
  100% {
    transform: translateX(30em); } }

.site-nav ul li a:after {
  transition: width 0.5s ease-in-out; }

input[type="submit"] {
  transition: all 0.5s ease-in-out; }

.profile-buttons a {
  transition: all 0.5s ease-in-out; }

.service {
  transition: all 0.3s ease-in-out; }

.contact-info li a i,
.social-buttons li {
  transition: all 0.3s ease-in-out; }

.worker .media {
  transition: border-radius 0.3s ease-in-out; }

.flight-card .book-now {
  transition: all 0.3s ease-in-out; }

.questions-list .question-and-answer {
  transition: all 0.3s ease-in-out; }
