@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Merriweather:400,700&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  /*--font-size-body-huge: 20px;*/
  --font-main: 'Merriweather';
  --font-headers: 'Barlow Condensed';
  --layout-main-width: 100%;
  --layout-content-width: 80%;
  --color-body-background: #FFFFFF;
  --color-red-main: #AA3F44;
  --color-beige-main: #D3C19F;
  --color-beige-darker: #D3C19F;
  --spacing-layout-elements: 2em; }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 var(--font-main), sans-serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

/*@media (min-width: 1600px) {*/
/*    html {*/
/*        font-size: var(--font-size-body-huge, 20px);*/
/*    }*/
/*}*/
body, input, textarea, option, select, table {
  font: inherit;
  background: var(--color-body-background, #FFFFFF);
  color: var(--color-body-text, #000000); }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  font-family: var(--font-headers), sans-serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: var(--color-beige-main, #000000); }

p, blockquote, ul, ol {
  padding-bottom: 1.5em; }

blockquote {
  border-left: 2px solid #CCCCCC;
  padding-left: 2em;
  font-style: italic;
  opacity: 0.8; }

blockquote p:last-child {
  padding-bottom: 0;
  text-align: right; }

.cleaner:after {
  display: block;
  content: '';
  clear: both; }

button,
input[type="submit"] {
  background: var(--color-beige-main);
  color: #000000;
  padding: 1em 2em;
  border: 2px solid var(--color-beige-main);
  border-radius: 4em;
  cursor: pointer;
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  font-family: var(--font-main); }

button:hover,
input[type="submit"]:hover {
  background: var(--color-red-main);
  color: var(--color-body-background);
  border-color: var(--color-red-main); }

.site {
  max-width: var(--layout-main-width); }

.site.black-background:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); }

.content-wrapper {
  max-width: var(--layout-content-width);
  margin: 0 auto; }

.site-header {
  background: var(--color-body-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 10em;
  margin-bottom: 1.5em; }

.site-header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 0.3em 0 var(--color-beige-main); }

.site-header.home-page {
  margin-bottom: 0; }

.site-title {
  margin-bottom: 0; }

.site-header a.user-button {
  color: #000000;
  font-size: 1.1em; }

.site-header a.user-button:hover > i {
  color: var(--color-beige-main); }

.site-header a.hamburger-menu {
  display: none; }

.site-nav {
  margin: 0 auto; }

.site-nav ul {
  display: flex;
  margin: 0;
  padding: 0; }

.site-nav ul li {
  display: block;
  list-style: none outside;
  padding: 0 1em; }

.site-nav ul li a {
  display: block;
  color: #000000; }

.site-nav ul li.selected > a,
.site-nav ul li a:hover {
  color: var(--color-beige-main); }

.site-nav ul li a:after {
  display: block;
  content: '';
  height: 0.2em;
  width: 0; }

.site-nav ul li.selected > a:after,
.site-nav ul li a:hover:after {
  width: 100%; }

.site-nav ul li.selected > a:after,
.site-nav ul li a:hover:after {
  background: var(--color-beige-main); }

.site-footer {
  padding: 0.8em 0;
  background: var(--color-red-main);
  color: var(--color-body-background);
  text-align: center; }
  .site-footer p {
    padding: 0; }
  .site-footer .title {
    color: var(--color-beige-main); }

.sky {
  background: url("../images/sky.jpg");
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

.clouds img {
  position: absolute;
  bottom: 0;
  left: -30em;
  right: 0;
  z-index: 1;
  width: 150%;
  max-height: 100vh;
  -webkit-animation: slideInMain 5s linear infinite;
          animation: slideInMain 5s linear infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.fog img {
  position: absolute;
  bottom: 0;
  left: -30em;
  right: 0;
  z-index: 2;
  width: 150%;
  max-height: 100vh;
  -webkit-animation: slideInMain 5s linear infinite;
          animation: slideInMain 5s linear infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.wing img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  max-width: 100%;
  max-height: 100vh; }

.content-wrapper {
  text-align: center; }

.services {
  padding: var(--spacing-layout-elements) 0;
  background: #F6F4EF; }

.services-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-layout-elements); }

.services-info .media {
  overflow: hidden; }

.services-info .media,
.services-info ul li {
  border-radius: 0.5em; }

.services-info .media img {
  width: 100%;
  display: block; }

.services-info ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: var(--spacing-layout-elements);
  padding-bottom: 0; }

.services-info ul li {
  list-style: none outside;
  background: var(--color-body-background);
  font-family: var(--font-headers);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.services-info ul li h5 {
  margin-bottom: 0; }

.services-info ul li i {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: var(--color-beige-main); }

.faq {
  padding: var(--spacing-layout-elements) 0; }

.faq ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-layout-elements);
  padding-bottom: 0; }

.questions-wrapper {
  list-style: none outside;
  background: #F6F4EF;
  border-radius: 0.5em;
  padding: 1.5em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.questions-wrapper:hover {
  background: var(--color-red-main);
  color: var(--color-body-background); }

.questions-wrapper:hover i {
  color: var(--color-beige-main); }

.questions-wrapper.active .answer {
  display: block; }

.questions-wrapper.active i.open {
  display: none; }

.questions-wrapper.active i.close {
  display: block; }

.question-and-icons {
  display: flex;
  pointer-events: none; }

.question-and-icons {
  padding-bottom: 0; }

.question-and-icons i {
  margin-left: auto;
  color: var(--color-red-main); }

.question-and-icons i.close {
  display: none; }

.answer {
  display: none;
  padding-top: 1.5em;
  padding-bottom: 0;
  pointer-events: none; }

.read-more {
  margin-top: var(--spacing-layout-elements); }

button {
  font-size: 1.1em; }

button i {
  margin-left: 0.5em; }

form input:not([type="submit"]),
form textarea {
  background: #FFFFFF;
  padding: 1.1em 1.4em;
  border: 1px solid rgba(0, 0, 0, 0.1); }

form input {
  border-radius: 4em; }

form textarea {
  resize: none;
  border-radius: 2em;
  height: 10em; }

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  padding: var(--spacing-layout-elements) 0; }

.info header h3 {
  text-align: center; }

.info li {
  list-style: none outside;
  margin-bottom: 1em; }

/* Opening Hours */
.opening-hours ul li {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.opening-hours ul li .day {
  width: 6em; }

.opening-hours ul li .line {
  display: inline-block;
  width: 7em;
  height: 2px;
  background: var(--color-beige-main);
  margin: 0 auto; }

/* Central Office */
.central-office .contact-info {
  text-align: center; }

.central-office .contact-info li a {
  color: #000000; }

.central-office .contact-info li i {
  display: inline-block;
  width: 1.5em;
  margin-right: 0.5em;
  color: var(--color-beige-main);
  text-align: center; }

.central-office .contact-info li:hover i {
  color: var(--color-red-main); }

.central-office .contact-info li address {
  display: inline; }

.central-office .social-buttons {
  display: flex;
  justify-content: space-around; }

.central-office .social-buttons li {
  background: var(--color-beige-main);
  padding: 0.3em;
  border-radius: 0.5em; }

.central-office .social-buttons li a i {
  width: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: var(--color-body-background);
  margin: 0; }

.central-office .social-buttons li:hover {
  background: var(--color-red-main); }

/* Media */
.info .media {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em; }

.info .media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Form */
.contact-us {
  background: #F6F4EF; }

.contact-us .content-wrapper {
  padding: var(--spacing-layout-elements) 0;
  text-align: center; }

.contact-us .content-wrapper form {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-layout-elements); }

.contact-us form input {
  grid-column: span 2; }

.contact-us form textarea {
  grid-column: span 4; }

.contact-us form input[type="submit"] {
  grid-column: 2 / 4; }

.profile {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  z-index: 100;
  border-radius: 0.5em; }

.profile-buttons {
  padding: 0 1em 0 0;
  display: flex;
  align-items: center; }

.profile-buttons a.clicked,
.profile-buttons a:not(.close-button):hover {
  background: var(--color-red-main);
  color: var(--color-body-background); }

.log-in-button {
  border-top-left-radius: 0.5em; }

.log-in-button,
.sign-up-button {
  margin-right: 0.5em;
  padding: 0.5em 1.5em;
  color: var(--color-red-main); }

.profile-buttons .close-button {
  margin-left: auto;
  color: var(--color-red-main);
  font-size: 1.2em; }

.profile-forms {
  padding: var(--spacing-layout-elements); }

.sign-up {
  display: none; }

.sign-up form,
.log-in form {
  display: grid;
  grid-gap: var(--spacing-layout-elements); }

.sign-up form label,
.log-in form label {
  display: block; }

.log-in form {
  grid-template-columns: 1fr; }

.sign-up form {
  grid-template-columns: repeat(4, 1fr); }

.sign-up form p {
  grid-column: span 2; }

.sign-up form input[type='submit'] {
  grid-column: 2 / 4; }

.fleet-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
  opacity: 0;
  transform: translateX(-10em);
  -webkit-animation: slideInHorizontal 0.5s linear;
          animation: slideInHorizontal 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .fleet-card.slide-from-right {
    transform: translateX(10em); }
  .fleet-card:nth-of-type(2) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .fleet-card:nth-of-type(3) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }
  .fleet-card:nth-of-type(4) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s; }
  .fleet-card:nth-of-type(5) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s; }
  .fleet-card:nth-of-type(6) {
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s; }
  .fleet-card:nth-of-type(7) {
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s; }

.fleet-card .media img,
.fleet-card .description {
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.3em; }

.fleet-card .media {
  width: 30em;
  position: relative;
  overflow: hidden; }

.fleet-card .media:before {
  display: block;
  content: '';
  padding-top: 56.25%; }

.fleet-card .media img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.fleet-card .description {
  width: 25em;
  padding: 2em; }

.fleet-card .description .airplane-name {
  color: var(--color-beige-main);
  margin-bottom: 0.5em; }

.fleet-card:nth-child(even) .description .airplane-name {
  color: var(--color-red-main); }

.fleet-card .description .airplane-info {
  padding-bottom: 0; }

.destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-layout-elements);
  justify-content: center;
  padding: var(--spacing-layout-elements) 0;
  margin: 0; }
  .destinations li {
    list-style: none outside;
    overflow: hidden;
    position: relative;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
    -webkit-animation: slideInVertical 0.5s ease-in-out;
            animation: slideInVertical 0.5s ease-in-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .destinations li:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
    .destinations li a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .destinations li a:hover:before {
        display: block;
        content: '';
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      .destinations li a:hover > .destination-name {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        z-index: 6;
        position: absolute;
        opacity: 1;
        text-shadow: 0.1em 0.1em #000000;
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
      .destinations li a img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

.destinations li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.destinations li:nth-child(2),
.destinations li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.destinations li:nth-child(3),
.destinations li:nth-child(5),
.destinations li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s; }

.destinations li:nth-child(6),
.destinations li:nth-child(8),
.destinations li:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.destinations li:nth-child(9),
.destinations li:nth-child(11),
.destinations li:nth-child(13) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s; }

.destinations li:nth-child(12),
.destinations li:nth-child(14),
.destinations li:nth-child(16) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s; }

.destinations li:nth-child(15),
.destinations li:nth-child(17),
.destinations li:nth-child(19) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s; }

.destinations li:nth-child(18),
.destinations li:nth-child(20) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s; }

.destinations li:nth-child(21) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s; }

.go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: var(--color-beige-main);
  border-radius: 50%;
  width: 5em;
  height: 5em;
  opacity: 0;
  z-index: 10; }

.go-top img {
  margin-bottom: 0.5em; }

.go-top span {
  color: #000000;
  text-transform: uppercase;
  font-family: var(--font-headers);
  font-weight: 700;
  letter-spacing: 0.05em; }

.go-top:hover img {
  padding-bottom: 0.5em; }

@-webkit-keyframes slideInHorizontal {
  from { }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideInHorizontal {
  from { }
  to {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes slideInVertical {
  from {
    opacity: 0;
    transform: translateY(-2em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes slideInVertical {
  from {
    opacity: 0;
    transform: translateY(-2em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes slideInMain {
  100% {
    transform: translateX(30em); } }

@keyframes slideInMain {
  100% {
    transform: translateX(30em); } }

.site-nav ul li a:after {
  transition: width 0.5s ease-in-out; }

input[type="submit"] {
  transition: all 0.5s ease-in-out; }

.central-office li,
.central-office .contact-info li i {
  transition: all 0.5s ease-in-out; }

.profile-buttons a {
  transition: all 0.5s ease-in-out; }
