:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    /*--font-size-body-huge: 20px;*/

    --font-main: 'Merriweather';
    --font-headers: 'Barlow Condensed';

    --layout-main-width: 100%;
    --layout-content-width: 80%;

    --color-body-background: #FFFFFF;
    --color-red-main: #AA3F44;
    --color-beige-main: #D3C19F;
    --color-beige-darker: #D3C19F;

    --spacing-layout-elements: 2em;
}