<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{site.title}}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">

    <script src="{{ site.baseurl }}/scripts/app.js"></script>
</head>
<body>

    <div class="site">

        <header class="site-header {% if page.home == true %} home-page {% endif %}">

            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{site.title}}</a>
            </h1>

           {% include navigation.html %}

            <a href="{{ site.baseurl }}/profile" class="login-button"><i class="far fa-user"></i></a>
            <a href="#" class="hamburger-menu"><i class="fas fa-bars"></i></a>

        </header>

        <main class="site-main">

            {{content}}

        </main>

        <aside class="site-sidebar">

        </aside>

        <footer class="site-footer">
            <p>All rights reserved &copy; <a href="{{ site.baseurl }}" class="title">{{ site.title }}</a></p>
        </footer>

    </div>

</body>
</html>