.content-wrapper {
    text-align: center;
}

// Services
.services {
    padding: var(--spacing-layout-elements) 0;
    background: #F6F4EF;

    & .services-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-layout-elements);

        & .media,
        & ul li {
            border-radius: 0.5em;
        }

        & .media {
            overflow: hidden;

            & img {
                width: 100%;
                display: block;
            }
        }

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: var(--spacing-layout-elements);
            padding-bottom: 0;

            & li {
                list-style: none outside;
                background: var(--color-body-background);
                font-family: var(--font-headers);
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: var(--color-red-main);
                    color: var(--color-body-background);

                    & i {
                        color: var(--color-body-background);
                    }
                }

                & i {
                    font-size: 2em;
                    margin-bottom: 0.5em;
                    color: var(--color-beige-main);
                }

                & h5 {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// Team
.team {
    padding: var(--spacing-layout-elements) 0;

    & .all-workers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3em;

        & .worker {
            grid-column: span 1;
            position: relative;

            & .media {
                width: 100%;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    border-radius: 0;
                }

                & img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            & .worker-name {
                margin-bottom: 0.2em;
            }

            & .worker-position {
                color: var(--color-red-main);
                padding-bottom: 0;
            }
        }
    }
}

// Testimonials
.testimonials {
    padding: var(--spacing-layout-elements) 0;
    background: #F6F4EF;

    & .all-testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--spacing-layout-elements);

        & .testimonials-card {
            border: 1px solid var(--color-red-main);
            border-radius: 0.5em;
            overflow: hidden;
            text-align: left;
            background: var(--color-body-background);

            & header {
                width: 100%;
                padding: 1.5em 2em;
                border-bottom: 1px solid var(--color-red-main);
                text-align: center;
                background: var(--color-red-main);
                color: var(--color-body-background);

                & .author {
                    margin-bottom: 0;
                }
            }

            & .content {
                padding: 1em 2em;
            }
        }

    }
}