.contact-us-description {

    & .content-wrapper {

        @include bp(desktop) {
            max-width: 100%;
            padding: 0 2em;
        }
    }
}


.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
    padding: var(--spacing-layout-elements) 0;

    @include bp(desktop) {
        grid-gap: var(--spacing-layout-elements);

        @at-root .site.contact-us-page .content-wrapper {
            max-width: 100%;
            padding: 0 3em;
        }
    }

    @include bp(tablet) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: var(--spacing-layout-elements);
    }

    @include bp(phone) {
        grid-template-rows: 1fr;
    }

    & header h3 {
        text-align: center;
    }

    & li {
        list-style: none outside;
        margin-bottom: 1em;
    }
}

/* Opening Hours */
.opening-hours ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(tablet) {
        justify-content: space-evenly;
    }

    @include bp(phone) {
        justify-content: space-between;
    }

    & .day {
        width: 6em;
    }

    & .line {
        display: inline-block;
        width: 7em;
        height: 2px;
        background: var(--color-beige-main);
        margin: 0 auto;

        @include bp(desktop) {
            width: 3em;
        }

        @include bp(tablet) {
            margin: 0;
        }

        @include bp(phone) {
            width: 4em;
        }
    }
}

/* Central Office */
.central-office {

    & .contact-info {
        text-align: center;

        & li:hover i {
            color: var(--color-red-main);
        }

        & li a {
            color: #000000;

            & i {
                display: inline-block;
                width: 1.5em;
                margin-right: 0.5em;
                color: var(--color-beige-main);
                text-align: center;
            }

            & address {
                display: inline;
            }
        }
    }

    & .social-buttons {
        display: flex;
        justify-content: space-around;

        @include bp(tablet) {
            justify-content: space-evenly;
        }

        @include bp(phone) {
            justify-content: space-between;
        }

        & li {
            background: var(--color-beige-main);
            padding: 0.3em;
            border-radius: 0.5em;

            &:hover {
                background: var(--color-red-main);
            }

            & a i {
                width: 1.5em;
                font-size: 1.5em;
                text-align: center;
                color: var(--color-body-background);
                margin: 0;
            }
        }
    }
}

/* Media */
.info .media {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5em;

    @include bp(phone) {
        display: none;
    }

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Form */
.contact-us {
    background: #F6F4EF;
    padding: var(--spacing-layout-elements) 0;

    & .content-wrapper {
        text-align: center;

        & form {
            max-width: 60%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: var(--spacing-layout-elements);

            @include bp(tablet) {
                max-width: 100%;
            }

            & input {
                grid-column: span 2;
                width: 100%;

                &[type="submit"] {
                    grid-column: 2 / 4;
                }
            }

            & textarea {
                grid-column: span 4;
            }
        }
    }
}