.destinations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--spacing-layout-elements);
    justify-content: center;
    padding: var(--spacing-layout-elements) 0;
    margin: 0;

    & li {
        list-style: none outside;
        overflow: hidden;
        position: relative;
        border-radius: 0.5em;
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
        animation: slideInVertical 0.5s ease-in-out;
        animation-fill-mode: both;

        &:nth-child(1) {
            animation-delay: 0.1s;
        }

        &:nth-child(2),
        &:nth-child(4) {
            animation-delay: 0.4s;
        }

        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(7) {
            animation-delay: 0.7s;
        }

        &:nth-child(6),
        &:nth-child(8),
        &:nth-child(10) {
            animation-delay: 1s;
        }

        &:nth-child(9),
        &:nth-child(11),
        &:nth-child(13) {
            animation-delay: 1.3s;
        }

        &:nth-child(12),
        &:nth-child(14),
        &:nth-child(16) {
            animation-delay: 1.6s;
        }

        &:nth-child(15),
        &:nth-child(17),
        &:nth-child(19) {
            animation-delay: 1.9s;
        }

        &:nth-child(18),
        &:nth-child(20) {
            animation-delay: 2.2s;
        }

        &:nth-child(21) {
            animation-delay: 2.5s;
        }

        &:before {
            display: block;
            content: '';
            padding-top: 56.25%;
        }

        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &:hover:before {
                display: block;
                content: '';
                background: rgba(0, 0, 0, 0.3);
                z-index: 5;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &:hover > .destination-name {
                width: 100%;
                text-align: center;
                color: #FFFFFF;
                z-index: 6;
                position: absolute;
                opacity: 1;
                text-shadow: 0.1em 0.1em #000000;
                font-size: 1.3em;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }

            & img {
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}