.site-footer {
    padding: 0.8em 0;
    background: var(--color-red-main);
    color: var(--color-body-background);
    text-align: center;

    & p {
        padding: 0;

        & .title {
            color: var(--color-beige-main);
        }
    }
}