// Animation
.sky {
    background: url("../images/sky.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;

    @include bp(tablet) {
        height: 80vh;
    }

    @include bp(phone) {
        height: 60vh;
    }

    & .clouds img,
    & .fog img,
    & .wing img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    & .clouds img,
    & .fog img {
        left: -30em;
        width: 150%;
        max-height: 100vh;
        animation: slideInMain 5s linear infinite;
        animation-fill-mode: both;

        @include bp(tablet) {
            width: 250%;
        }
    }

    & .clouds img {
        z-index: 1;
    }

    & .fog img {
        z-index: 2;
    }

    & .wing img {
        left: 0;
        z-index: 4;
        max-width: 100%;
        max-height: 100vh;
    }
}

// Popular Destinations
.popular-destinations {
    padding: var(--spacing-layout-elements) 0;
    background: #F6F4EF;

    & .flight-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: var(--spacing-layout-elements);

        @include bp(desktop) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include bp(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include bp(phone) {
            grid-template-columns: 1fr;
        }

        & .flight-card {
            border-radius: 0.5em;
            border: 1px solid var(--color-beige-main);
            overflow: hidden;

            & header {
                background: var(--color-body-background);
                color: #000000;
                border-bottom: 1px solid var(--color-beige-main);
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                padding: 1.5em 2em;

                & h5 {
                    margin-bottom: 0;
                    grid-column: span 2;

                    &.from {
                        text-align: left;
                    }

                    &.to {
                        text-align: right;
                    }
                }

                & span i {
                    color: var(--color-red-main);
                }
            }

            & .flight-description {
                background: var(--color-body-background);
                padding: 1em 2em;

                & li {
                    list-style: none outside;
                    margin-bottom: 0.5em;
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    align-items: center;

                    & > span:first-child {
                        text-align: left;
                        grid-column: span 2;
                    }

                    & .line {
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        background: var(--color-red-main);
                        margin: 0 auto;
                    }

                    & > span:last-child {
                        text-align: right;
                        grid-column: span 2;
                    }
                }
            }

            & .book-now {
                padding: 1.5em 2em;
                width: 100%;
                background: var(--color-body-background);
                border-top: 1px solid var(--color-beige-main);
                cursor: pointer;

                &:hover {
                    background: var(--color-beige-main);

                    & a {
                        color: #000000;
                    }
                }

                & a {
                    color: var(--color-red-main);
                }
            }
        }
    }
}

// Newsletter
.newsletter {
    background: var(--color-red-main);
    color: var(--color-body-background);

    & .content-wrapper {
        padding: var(--spacing-layout-elements) 0;
        display: flex;
        align-items: center;

        @include bp(tablet) {
            padding: var(--spacing-layout-elements) 2em;
            flex-direction: column;
        }

        @include bp(phone) {
            padding: var(--spacing-layout-elements) 1em;
        }

        & h3 {
            margin-bottom: 0;

            @include bp(tablet) {
                margin-bottom: 1em;
            }
        }

        & form {
            margin-left: auto;

            @include bp(tablet) {
                margin-left: 0;
            }

            & input[type="email"] {

                @include bp(phone) {
                    width: 70%;
                }
            }

            & input[type="submit"] {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: var(--color-body-background);

                &:hover {
                    transform: translate(1em, -1em);
                    color: var(--color-body-background);
                    background: var(--color-beige-main);
                    border-color: var(--color-beige-main);
                }
            }
        }
    }
}

// Frequently Asked Questions
.faq {
    padding: var(--spacing-layout-elements) 0;

    & .questions-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-layout-elements);
        padding-bottom: 0;

        @include bp(tablet) {
            grid-template-columns: 1fr;
        }

        & .question-and-answer {
            list-style: none outside;
            background: #F6F4EF;
            border-radius: 0.5em;
            padding: 1.5em 2em;
            cursor: pointer;

            & .question-wrapper {
                display: flex;
                align-items: center;
                pointer-events: none;
                padding-bottom: 0;

                & .question {
                    margin-bottom: 0;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    &:after {
                        display: inline-block;
                        content: '\f067';
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                        color: var(--color-red-main);
                        margin-left: auto;
                    }
                }
            }

            &:hover {
                background: var(--color-red-main);
                color: var(--color-body-background);

                & .question:after {
                    color: var(--color-beige-main);
                }
            }

            &.active .question:after {
                content: '\f068';
            }

            &.active .answer {
                display: block;
            }

            & .answer {
                display: none;
                padding-top: 1.5em;
                padding-bottom: 0;
                pointer-events: none;
            }
        }
    }
}

// Read More
.read-more {
    margin-top: var(--spacing-layout-elements);

    & button {
        font-size: 1.1em;

        & i {
            margin-left: 0.5em;
        }
    }
}