.our-fleet {
    padding: var(--spacing-layout-elements) 0;
}

.fleet-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    opacity: 0;
    transform: translateX(-10em);
    animation: slideInHorizontal 0.5s linear;
    animation-fill-mode: forwards;

    &.slide-from-right {
        transform: translateX(10em);
    }

    @for $i from 2 through 7 {
        &:nth-of-type(#{$i}) {
            animation-delay: $i * 0.3s;
        }
    }

    & .media,
    & .description {
        box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.3em;
    }

    & .media {
        width: 30em;
        position: relative;
        overflow: hidden;

        &:before {
            display: block;
            content: '';
            padding-top: 56.25%;
        }

        & img {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    & .description {
        width: 25em;
        padding: 2em;

        & .airplane-name {
            color: var(--color-beige-main);
            margin-bottom: 0.5em;
        }

        & .airplane-info {
            padding-bottom: 0;
        }
    }

    &:nth-child(even) .description .airplane-name {
        color: var(--color-red-main);
    }
}