.profile {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    z-index: 2000;
    border-radius: 0.5em;

    & .profile-buttons {
        padding: 0 1em 0 0;
        display: flex;
        align-items: center;

        & a.clicked,
        & a:not(.close-button):hover {
            background: var(--color-red-main);
            color: var(--color-body-background);
        }

        & .log-in-button {
            border-top-left-radius: 0.5em;
        }

        & .log-in-button,
        & .sign-up-button {
            margin-right: 0.5em;
            padding: 0.5em 1.5em;
            color: var(--color-red-main);
        }

        & .close-button {
            margin-left: auto;
            color: var(--color-red-main);
            font-size: 1.2em;
        }
    }

    & .profile-forms {
        padding: var(--spacing-layout-elements);

        & .sign-up form,
        & .log-in form {
            display: grid;
            grid-gap: var(--spacing-layout-elements);

            @include bp(phone) {
                grid-gap: 1em;
            }

            & p {
                padding-bottom: 0;

                & label {
                    display: block;
                    margin-left: 1.4em;
                }
            }
        }

        & .log-in form {
            grid-template-columns: 1fr;
        }

        & .sign-up {
            display: none;

            & form {
                grid-template-columns: repeat(4, 1fr);

                @include bp(desktop) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include bp(tablet) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include bp(phone) {
                    grid-template-columns: 1fr;
                }

                & p {
                    grid-column: span 2;

                    @include bp(desktop) {
                        grid-column: span 1;
                    }

                    @include bp(tablet) {
                        grid-column: span 1;
                    }
                }

                & input[type='submit'] {
                    grid-column: 2 / 4;

                    @include bp(desktop) {
                        grid-column: 1 / -1;
                    }

                    @include bp(tablet) {
                        grid-column: 1 / -1;
                    }

                    @include bp(phone) {
                        grid-column: 1;
                    }
                }
            }
        }
    }
}